:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #E5E5E5;
}

._content {
    width: 650px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: transparent;
}
