:host {
    display: block;
}

._page {
    margin-top: 1rem;
}

._chapter-start {
    background-color: #fff;
    text-align: right;
    padding: 2rem;
}

._chapter-number {
    font-size: 12rem;
}
